$border-width: 7.5rem;
$border-height: 1.2rem;

.nav_item {
  $border: 0.15rem solid #dadada;
  font-family: 'Norse';
  font-weight: bold;
  width: 7.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #dadada;
  margin-right: 5rem;

  @mixin borderBaseConf {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
  }

  .border_top {
    position: absolute;
    width: 100%;
    height: 100%;

    &:after {
      // top
      @include borderBaseConf;
      border-top: $border;
      right: 0;
      transform-origin: right;
    }
    &:before {
      //left
      @include borderBaseConf;
      border-left: $border;
    }
  }

  .border_bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    &:after {
      // bottom
      @include borderBaseConf;
      border-top: $border;
      right: 0;
      transform-origin: right;
    }
    &:before {
      //left
      @include borderBaseConf;
      border-left: $border;
    }
  }
}

.nav_item.active {
  $animationDuration: 0.5s;

  @mixin animationTopBottomMix {
    animation: borderTopBottomAnimation $animationDuration linear forwards;
  }

  @mixin animationLeftRightMix {
    animation: borderLeftRightAnimation 0.3s linear forwards;
  }

  .border_top {
    &::after {
      @include animationTopBottomMix;
    }
    &::before {
      @include animationLeftRightMix;
      animation-delay: $animationDuration;
    }
  }

  .border_bottom {
    &::after {
      @include animationTopBottomMix;
    }
    &::before {
      @include animationLeftRightMix;
      animation-delay: $animationDuration;
    }
  }

  @keyframes borderTopBottomAnimation {
    from {
      width: 0rem;
    }
    to {
      width: $border-width;
    }
  }

  @keyframes borderLeftRightAnimation {
    from {
      height: 0rem;
    }
    to {
      height: $border-height;
    }
  }
}
