$width: 40%;

:export {
  width: $width;
}
.contact_me_bar {
  height: 100%;
  background-color: rgb(217, 217, 217);
  width: $width;
  position: absolute;
  right: -$width;
  top: 0;
  color: #333333;

  .close_icon {
    width: 2rem;
    height: 2rem;
    stroke: #333333;
    stroke-width: 2rem;
  }

  form {
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .send_btn {
      justify-self: flex-end;
      align-self: flex-end;
      height: 3rem;
      background-color: #333333;
      color: #dadada;
      border-radius: 0.2rem;
      margin-top: 2rem;
    }

    .input_group {
      display: flex;
      flex-direction: column;
      margin: 1rem 0 1rem 0;

      textarea {
        resize: none;
        height: 5rem !important;
        &::-webkit-scrollbar {
          width: 0.4rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #333;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #231d36;
        }
      }

      .input {
        height: 2rem;
        outline: none;
        border-radius: 0.2rem;
        border: none;
        margin-top: 0.5rem;

        background-color: transparent;
        border-bottom: 1px solid #333;
        border-radius: 0;
      }

      .label {
      }
    }
  }

  .divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
