.navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;

  .initials {
    font-size: 1.5rem;
    color: #dadada;
    font-family: 'Norse';
    margin-left: 3rem;
    font-weight: bold;
  }

  .nav_items_container {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
  }
}
